html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ul,
ol {
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  font-family: "AvertaStd", sans-serif;
}

.wrapper {
  background-color: #fff;
  display: block;
  height: 100%;
  min-height: 100vh;
}

.wrapper .btn.focus,
.wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.container-fluid-1920 {
  max-width: 1735px;
}

.container-fluid-1820 {
  max-width: 1585px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .container-fluid-1920 {
    max-width: 1285px;
  }
  .container-fluid-1820 {
    max-width: 1285px;
  }
}

@media (min-width: 1025px) and (max-width: 1281px) {
  .container-fluid-1920 {
    max-width: 1185px;
  }
  .container-fluid-1820 {
    max-width: 1185px;
  }
}

.menu-bar-icon {
  width: 19px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.205 2.67409H1.32687C0.574975 2.67409 0 2.09471 0 1.33705C0 0.579387 0.574975 0 1.32687 0H17.205C17.9569 0 18.5319 0.579387 18.5319 1.33705C18.5319 2.09471 17.9127 2.67409 17.205 2.67409ZM17.205 9.31482H1.32687C0.574975 9.31482 0 8.73543 0 7.97777C0 7.22011 0.574975 6.64072 1.32687 6.64072H17.205C17.9569 6.64072 18.5319 7.22011 18.5319 7.97777C18.5319 8.73543 17.9127 9.31482 17.205 9.31482ZM1.32687 16H13.2244C13.9763 16 14.5513 15.4206 14.5513 14.6629C14.5513 13.9053 13.9763 13.3259 13.2244 13.3259H1.32687C0.574975 13.3259 0 13.9053 0 14.6629C0 15.4206 0.574975 16 1.32687 16Z' fill='%23908DAA'/%3E%3C/svg%3E%0A");
}

.menu-bar-icon-hover {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.205 2.67409H1.32687C0.574975 2.67409 0 2.09471 0 1.33705C0 0.579387 0.574975 0 1.32687 0H17.205C17.9569 0 18.5319 0.579387 18.5319 1.33705C18.5319 2.09471 17.9127 2.67409 17.205 2.67409ZM17.205 9.31482H1.32687C0.574975 9.31482 0 8.73543 0 7.97777C0 7.22011 0.574975 6.64072 1.32687 6.64072H17.205C17.9569 6.64072 18.5319 7.22011 18.5319 7.97777C18.5319 8.73543 17.9127 9.31482 17.205 9.31482ZM1.32687 16H13.2244C13.9763 16 14.5513 15.4206 14.5513 14.6629C14.5513 13.9053 13.9763 13.3259 13.2244 13.3259H1.32687C0.574975 13.3259 0 13.9053 0 14.6629C0 15.4206 0.574975 16 1.32687 16Z' fill='%23908DAA'/%3E%3C/svg%3E%0A");
}

/* BG ICON */
.bg-custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23908DAA' fill-rule='nonzero'%3E%3Cpath d='M16.6337,20.0000002 L3.36634,20.0000002 C1.49929,20.0000002 0,18.5598 0,16.809 L0,7.99859 C0,7.01024 0.480905,6.07836 1.32956,5.45711 L7.94908,0.656548 C9.16549,-0.218849 10.8345,-0.218849 12.0509,0.656548 L18.6704,5.45711 C19.4908,6.05012 20,7.01024 20,7.99859 L20,16.809 C20,18.5598 18.5007,20.0000002 16.6337,20.0000002 Z M2.14993,6.6149 C1.69731,6.95376 1.41443,7.46205 1.41443,7.99859 L1.41443,16.809 C1.41443,17.7974 2.29137,18.5881 3.36634,18.5881 L16.6337,18.5881 C17.7086,18.5881 18.5856,17.7974 18.5856,16.809 L18.5856,7.99859 C18.5856,7.46205 18.3027,6.95376 17.8501,6.6149 L11.2306,1.81433 C10.5233,1.30604 9.50495,1.30604 8.79774,1.81433 L2.14993,6.6149 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.transfer-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23908DAA' fill-rule='nonzero'%3E%3Cpath d='M3.36562,19.943 C2.6031,19.943 1.84057,19.661 1.21925,19.1533 C0.174307,18.2509 -0.249318,16.8972 0.146066,15.5999 C0.174307,15.5435 0.202549,15.4871 0.230791,15.4307 L3.11145,10.8338 C3.45035,10.298 3.45035,9.62112 3.11145,9.08528 L0.230791,4.48838 C0.202549,4.43198 0.174307,4.37558 0.146066,4.31917 C-0.249318,3.02189 0.174307,1.6682 1.21925,0.793943 C2.2642,-0.0803137 3.67628,-0.249525 4.89068,0.370916 L18.136,6.97015 C19.294,7.53418 20.0000002,8.69046 20.0000002,9.98774 C20.0000002,11.2568 19.294,12.4131 18.136,12.9771 L4.89068,19.5764 C4.38232,19.802 3.87397,19.943 3.36562,19.943 Z M1.47343,16.1075 C1.24749,16.9818 1.64288,17.6868 2.12299,18.0817 C2.6031,18.4483 3.39386,18.7303 4.24112,18.3073 L17.4865,11.6799 C18.1643,11.3414 18.5597,10.6928 18.5597,9.93134 C18.5597,9.16989 18.1643,8.52125 17.4865,8.18282 L4.24112,1.6118 C3.39386,1.18877 2.57485,1.47079 2.12299,1.86561 C1.67112,2.26044 1.27573,2.96548 1.47343,3.83974 L4.32584,8.35204 C4.94716,9.3391 4.94716,10.6082 4.32584,11.5952 L1.47343,16.1075 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.investment-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='23px' viewBox='0 0 20 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23908DAA'%3E%3Cpath d='M13.6143,0.810373 C13.355,0.324149 12.8039,0 12.2529,0 L7.74721,0 C7.16374,0 6.64511,0.324149 6.35337,0.810373 C6.06164,1.2966 6.12647,1.94489 6.4182,2.43112 L7.74721,4.47326 C8.03895,4.92707 8.52517,5.18639 9.04381,5.18639 L10.8915,5.18639 C11.4425,5.18639 11.9287,4.92707 12.2205,4.47326 L13.5495,2.43112 C13.8736,1.94489 13.906,1.32901 13.6143,0.810373 Z M12.4798,1.71799 L11.1508,3.76013 C11.0859,3.82496 11.0211,3.88979 10.9239,3.88979 L9.07622,3.88979 C8.97898,3.88979 8.91415,3.85737 8.84932,3.76013 L7.52031,1.71799 C7.45548,1.58833 7.48789,1.49109 7.52031,1.42626 C7.52031,1.39384 7.58514,1.2966 7.74721,1.2966 L12.2529,1.2966 C12.364,1.2966 12.4275,1.36804 12.4638,1.40887 C12.4699,1.41567 12.4752,1.42163 12.4798,1.42626 C12.5122,1.49109 12.5446,1.58833 12.4798,1.71799 Z M19.9676,18.9627 L19.2869,13.6142 C18.7359,9.1734 14.7489,5.80225 9.98386,5.80225 C5.25128,5.80225 1.23183,9.1734 0.680781,13.6142 L0.0324826,18.9627 C-0.097177,19.8703 0.194557,20.7455 0.81044,21.4262 C1.45874,22.1718 2.39877,22.5932 3.40363,22.5932 L16.5641,22.5932 C17.5689,22.5932 18.509,22.1718 19.1573,21.4262 C19.8056,20.7455 20.0649,19.8703 19.9676,18.9627 Z M18.2172,20.5834 C17.8283,21.0373 17.2124,21.2966 16.5965,21.2966 L3.40363,21.2966 C2.75533,21.2966 2.17187,21.0373 1.78289,20.5834 C1.39391,20.1945 1.23183,19.6758 1.29666,19.1248 L1.97738,13.7763 C2.4636,9.98377 5.89958,7.09884 9.98386,7.09884 C14.0681,7.09884 17.5041,9.98377 17.9903,13.7763 L18.6711,19.1248 C18.7359,19.6758 18.5738,20.1945 18.2172,20.5834 Z M10.7294,17.3744 C11.7343,17.3744 12.5771,16.5641 12.5771,15.5268 C12.5771,14.5219 11.7343,13.6791 10.697,13.6791 L8.979,13.6791 C8.68726,13.6791 8.42794,13.4198 8.42794,13.1281 C8.42794,12.8364 8.65485,12.577 8.979,12.577 L11.5722,12.577 C11.9288,12.577 12.2205,12.2853 12.2205,11.9287 C12.2205,11.5722 11.9288,11.2804 11.5722,11.2804 L10.5025,11.2804 L10.5025,10.5349 C10.5025,10.1783 10.2108,9.8866 9.8542,9.8866 C9.49764,9.8866 9.2059,10.1783 9.2059,10.5349 L9.2059,11.2804 L8.979,11.2804 C7.97414,11.2804 7.13135,12.0908 7.13135,13.1281 C7.13135,14.1329 7.94172,14.9757 8.979,14.9757 L10.697,14.9757 C10.9887,14.9757 11.248,15.2351 11.248,15.5268 C11.248,15.8185 11.0211,16.0778 10.697,16.0778 L7.77965,16.0778 C7.42308,16.0778 7.13135,16.3696 7.13135,16.7261 C7.13135,17.0827 7.42308,17.3744 7.77965,17.3744 L9.2059,17.3744 L9.2059,18.12 C9.2059,18.4765 9.49764,18.7683 9.8542,18.7683 C10.2108,18.7683 10.5025,18.4765 10.5025,18.12 L10.5025,17.3744 L10.7294,17.3744 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.history-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23908DAA'%3E%3Cpath d='M17.5458,0 L17.6305,0 C18.9281,0.0282885 19.9436,1.10325 20,2.40453 L20,4.10184 C20,4.49788 19.6897,4.80905 19.2948,4.80905 L16.615,4.80905 L16.615,15.8982 L16.615,15.983 C16.5585,18.1895 14.8096,19.9717 12.6093,20 L12.5247,20 L4.09027,20 L4.00564,20 C1.77715,19.9717 0,18.1612 0,15.9264 L0,15.0778 C0,14.6818 0.310296,14.3706 0.705219,14.3706 L3.38505,14.3706 L3.38505,4.07355 C3.38505,2.99859 3.80818,1.95191 4.56982,1.18812 C5.33145,0.424328 6.34697,0 7.44711,0 L17.5458,0 Z M1.41044,15.9264 C1.41044,17.3975 2.62341,18.5856 4.09027,18.5856 L9.42172,18.5856 C8.80113,17.8784 8.43441,16.9448 8.43441,15.9264 L8.43441,15.785 L1.41044,15.785 L1.41044,15.9264 Z M15.1763,2.40453 L15.1763,2.31966 C15.1763,2.00849 15.2609,1.69731 15.402,1.41443 L7.44711,1.41443 C6.71368,1.41443 6.06488,1.69731 5.58533,2.17822 C5.07757,2.68741 4.79549,3.36634 4.79549,4.07355 L4.79549,14.3706 L9.11142,14.3706 C9.50635,14.3706 9.81664,14.6818 9.81664,15.0778 L9.81664,15.9264 C9.81664,17.3975 11.0296,18.5856 12.4965,18.5856 C13.9915,18.5856 15.1763,17.3975 15.1763,15.9264 L15.1763,2.40453 Z M16.5585,3.39463 L18.5331,3.39463 L18.5331,2.40453 C18.5331,1.86704 18.0818,1.41443 17.5458,1.41443 C17.0099,1.41443 16.5585,1.86704 16.5585,2.40453 L16.5585,3.39463 Z M7.87025,5.20511 L12.0733,5.20511 C12.4683,5.20511 12.7786,4.89394 12.7786,4.4979 C12.7786,4.10186 12.4683,3.79069 12.0733,3.79069 L7.87025,3.79069 C7.47532,3.79069 7.16503,4.10186 7.16503,4.4979 C7.16503,4.89394 7.47532,5.20511 7.87025,5.20511 Z M12.0733,8.59974 L7.87025,8.59974 C7.47532,8.59974 7.16503,8.28856 7.16503,7.89252 C7.16503,7.49648 7.47532,7.18531 7.87025,7.18531 L12.0733,7.18531 C12.4683,7.18531 12.7786,7.49648 12.7786,7.89252 C12.7786,8.28856 12.4683,8.59974 12.0733,8.59974 Z M7.87025,11.9661 L10.8322,11.9661 C11.1989,11.9661 11.5374,11.6549 11.5374,11.2588 C11.5374,10.8628 11.2271,10.5516 10.8322,10.5516 L7.87025,10.5516 C7.47532,10.5516 7.16503,10.8628 7.16503,11.2588 C7.16503,11.6549 7.47532,11.9661 7.87025,11.9661 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.contacts-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23908DAA'%3E%3Cpath d='M5.79916,7.34463 C3.79067,7.34463 2.12164,5.70622 2.12164,3.67232 C2.12164,1.63842 3.76238,0 5.79916,0 C7.83593,0 9.47667,1.63842 9.47667,3.67232 C9.47667,5.70622 7.83593,7.34463 5.79916,7.34463 Z M5.79916,1.44068 C4.55446,1.44068 3.53607,2.45763 3.53607,3.70057 C3.53607,4.9435 4.55446,5.96045 5.79916,5.96045 C7.04385,5.96045 8.06224,4.9435 8.06224,3.70057 C8.06224,2.45763 7.04385,1.44068 5.79916,1.44068 Z M15.1061,7.62712 C13.1825,7.62712 11.5134,8.72881 10.7214,10.339 C9.70297,8.70057 7.86422,7.62712 5.79915,7.62712 C2.60255,7.62712 0,10.226 0,13.4181 L0,16.8927 C0,18.6158 1.38614,20 3.11174,20 L8.51485,20 C9.47666,20 10.3536,19.548 10.9194,18.8701 C11.4851,19.5763 12.3621,20 13.3239,20 L16.8883,20 C18.6139,20 20,18.6158 20,16.8927 L20,12.5141 C20,9.83051 17.8218,7.62712 15.1061,7.62712 Z M8.51485,18.5876 L3.11174,18.5876 C2.17822,18.5876 1.41443,17.8249 1.41443,16.8927 L1.41443,13.4181 C1.41443,10.9887 3.39463,9.03955 5.79915,9.03955 C8.23197,9.03955 10.1839,11.017 10.1839,13.4181 L10.1839,16.8927 C10.2122,17.8531 9.44837,18.5876 8.51485,18.5876 Z M18.5856,16.8927 C18.5856,17.8249 17.8218,18.5876 16.8883,18.5876 L13.3239,18.5876 C12.3904,18.5876 11.6266,17.8249 11.6266,16.8927 L11.6266,12.5141 C11.6266,10.5932 13.1825,9.03955 15.1061,9.03955 C17.0297,9.03955 18.5856,10.5932 18.5856,12.5141 L18.5856,16.8927 Z M11.4286,3.67232 C11.4286,5.70622 13.0976,7.34463 15.1061,7.34463 C17.1429,7.34463 18.7836,5.70622 18.7836,3.67232 C18.7836,1.63842 17.1429,0 15.1061,0 C13.0693,0 11.4286,1.63842 11.4286,3.67232 Z M12.843,3.70057 C12.843,2.45763 13.8614,1.44068 15.1061,1.44068 C16.3508,1.44068 17.3692,2.45763 17.3692,3.70057 C17.3692,4.9435 16.3508,5.96045 15.1061,5.96045 C13.8614,5.96045 12.843,4.9435 12.843,3.70057 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.atm-cards-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='17px' viewBox='0 0 20 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23908DAA' fill-rule='nonzero'%3E%3Cpath d='M16.0959,0 L3.93204,0 C1.75386,0 0,1.75386 0,3.90375 L0,12.7013 C0,14.8512 1.75386,16.6051 3.90375,16.6051 L16.0959,16.6051 C18.2458,16.6051 19.9997,14.8512 19.9997,12.7013 L19.9997,3.90375 C20.028,1.75386 18.2741,0 16.0959,0 Z M1.4144,3.90375 C1.4144,2.54593 2.54593,1.4144 3.93204,1.4144 L16.1242,1.4144 C17.5103,1.4144 18.6135,2.54593 18.6135,3.90375 L18.6135,5.4596 L1.4144,5.4596 L1.4144,3.90375 Z M18.6135,12.7013 C18.6135,14.0875 17.482,15.1907 16.1242,15.1907 L3.93204,15.1907 C2.54593,15.1907 1.44269,14.0592 1.44269,12.7013 L1.44269,6.90229 L18.6135,6.90229 L18.6135,12.7013 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.help-icon {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.48468 0 0 4.48468 0 10C0 15.5153 4.48468 20 10 20C15.5153 20 20 15.5153 20 10C20 4.48468 15.5153 0 10 0ZM10 15.1253C9.47075 15.1253 9.05292 14.7075 9.05292 14.1783C9.05292 13.649 9.47075 13.2312 10 13.2312C10.5292 13.2312 10.9471 13.649 10.9471 14.1783C10.9471 14.7075 10.5292 15.1253 10 15.1253ZM10 12.507C9.52646 12.507 9.16434 12.1448 9.16434 11.6713C9.16434 11.1978 9.52646 10.8357 10 10.8357C11.1421 10.8357 12.0613 9.88858 12.0613 8.74652C12.0613 7.60446 11.1142 6.65738 9.97214 6.65738C8.83008 6.65738 7.91086 7.5766 7.91086 8.71866C7.91086 9.1922 7.54875 9.55432 7.07521 9.55432C6.60167 9.55432 6.23955 9.1922 6.23955 8.71866C6.23955 6.65738 7.91086 4.98607 9.97214 4.98607C12.0334 4.98607 13.7047 6.65738 13.7326 8.71866C13.7326 10.8078 12.0613 12.4791 10 12.507Z' fill='%233B2F92'/%3E%3C/svg%3E%0A");
}

.nav-item.active .home-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M16.6337,20.0000002 L3.36634,20.0000002 C1.49929,20.0000002 0,18.5598 0,16.809 L0,7.99859 C0,7.01024 0.480905,6.07836 1.32956,5.45711 L7.94908,0.656548 C9.16549,-0.218849 10.8345,-0.218849 12.0509,0.656548 L18.6704,5.45711 C19.4908,6.05012 20,7.01024 20,7.99859 L20,16.809 C20,18.5598 18.5007,20.0000002 16.6337,20.0000002 Z M2.14993,6.6149 C1.69731,6.95376 1.41443,7.46205 1.41443,7.99859 L1.41443,16.809 C1.41443,17.7974 2.29137,18.5881 3.36634,18.5881 L16.6337,18.5881 C17.7086,18.5881 18.5856,17.7974 18.5856,16.809 L18.5856,7.99859 C18.5856,7.46205 18.3027,6.95376 17.8501,6.6149 L11.2306,1.81433 C10.5233,1.30604 9.50495,1.30604 8.79774,1.81433 L2.14993,6.6149 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item.active .transfer-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M3.36562,19.943 C2.6031,19.943 1.84057,19.661 1.21925,19.1533 C0.174307,18.2509 -0.249318,16.8972 0.146066,15.5999 C0.174307,15.5435 0.202549,15.4871 0.230791,15.4307 L3.11145,10.8338 C3.45035,10.298 3.45035,9.62112 3.11145,9.08528 L0.230791,4.48838 C0.202549,4.43198 0.174307,4.37558 0.146066,4.31917 C-0.249318,3.02189 0.174307,1.6682 1.21925,0.793943 C2.2642,-0.0803137 3.67628,-0.249525 4.89068,0.370916 L18.136,6.97015 C19.294,7.53418 20.0000002,8.69046 20.0000002,9.98774 C20.0000002,11.2568 19.294,12.4131 18.136,12.9771 L4.89068,19.5764 C4.38232,19.802 3.87397,19.943 3.36562,19.943 Z M1.47343,16.1075 C1.24749,16.9818 1.64288,17.6868 2.12299,18.0817 C2.6031,18.4483 3.39386,18.7303 4.24112,18.3073 L17.4865,11.6799 C18.1643,11.3414 18.5597,10.6928 18.5597,9.93134 C18.5597,9.16989 18.1643,8.52125 17.4865,8.18282 L4.24112,1.6118 C3.39386,1.18877 2.57485,1.47079 2.12299,1.86561 C1.67112,2.26044 1.27573,2.96548 1.47343,3.83974 L4.32584,8.35204 C4.94716,9.3391 4.94716,10.6082 4.32584,11.5952 L1.47343,16.1075 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item.active .investment-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='23px' viewBox='0 0 20 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23FFFFFF'%3E%3Cpath d='M13.6143,0.810373 C13.355,0.324149 12.8039,0 12.2529,0 L7.74721,0 C7.16374,0 6.64511,0.324149 6.35337,0.810373 C6.06164,1.2966 6.12647,1.94489 6.4182,2.43112 L7.74721,4.47326 C8.03895,4.92707 8.52517,5.18639 9.04381,5.18639 L10.8915,5.18639 C11.4425,5.18639 11.9287,4.92707 12.2205,4.47326 L13.5495,2.43112 C13.8736,1.94489 13.906,1.32901 13.6143,0.810373 Z M12.4798,1.71799 L11.1508,3.76013 C11.0859,3.82496 11.0211,3.88979 10.9239,3.88979 L9.07622,3.88979 C8.97898,3.88979 8.91415,3.85737 8.84932,3.76013 L7.52031,1.71799 C7.45548,1.58833 7.48789,1.49109 7.52031,1.42626 C7.52031,1.39384 7.58514,1.2966 7.74721,1.2966 L12.2529,1.2966 C12.364,1.2966 12.4275,1.36804 12.4638,1.40887 C12.4699,1.41567 12.4752,1.42163 12.4798,1.42626 C12.5122,1.49109 12.5446,1.58833 12.4798,1.71799 Z M19.9676,18.9627 L19.2869,13.6142 C18.7359,9.1734 14.7489,5.80225 9.98386,5.80225 C5.25128,5.80225 1.23183,9.1734 0.680781,13.6142 L0.0324826,18.9627 C-0.097177,19.8703 0.194557,20.7455 0.81044,21.4262 C1.45874,22.1718 2.39877,22.5932 3.40363,22.5932 L16.5641,22.5932 C17.5689,22.5932 18.509,22.1718 19.1573,21.4262 C19.8056,20.7455 20.0649,19.8703 19.9676,18.9627 Z M18.2172,20.5834 C17.8283,21.0373 17.2124,21.2966 16.5965,21.2966 L3.40363,21.2966 C2.75533,21.2966 2.17187,21.0373 1.78289,20.5834 C1.39391,20.1945 1.23183,19.6758 1.29666,19.1248 L1.97738,13.7763 C2.4636,9.98377 5.89958,7.09884 9.98386,7.09884 C14.0681,7.09884 17.5041,9.98377 17.9903,13.7763 L18.6711,19.1248 C18.7359,19.6758 18.5738,20.1945 18.2172,20.5834 Z M10.7294,17.3744 C11.7343,17.3744 12.5771,16.5641 12.5771,15.5268 C12.5771,14.5219 11.7343,13.6791 10.697,13.6791 L8.979,13.6791 C8.68726,13.6791 8.42794,13.4198 8.42794,13.1281 C8.42794,12.8364 8.65485,12.577 8.979,12.577 L11.5722,12.577 C11.9288,12.577 12.2205,12.2853 12.2205,11.9287 C12.2205,11.5722 11.9288,11.2804 11.5722,11.2804 L10.5025,11.2804 L10.5025,10.5349 C10.5025,10.1783 10.2108,9.8866 9.8542,9.8866 C9.49764,9.8866 9.2059,10.1783 9.2059,10.5349 L9.2059,11.2804 L8.979,11.2804 C7.97414,11.2804 7.13135,12.0908 7.13135,13.1281 C7.13135,14.1329 7.94172,14.9757 8.979,14.9757 L10.697,14.9757 C10.9887,14.9757 11.248,15.2351 11.248,15.5268 C11.248,15.8185 11.0211,16.0778 10.697,16.0778 L7.77965,16.0778 C7.42308,16.0778 7.13135,16.3696 7.13135,16.7261 C7.13135,17.0827 7.42308,17.3744 7.77965,17.3744 L9.2059,17.3744 L9.2059,18.12 C9.2059,18.4765 9.49764,18.7683 9.8542,18.7683 C10.2108,18.7683 10.5025,18.4765 10.5025,18.12 L10.5025,17.3744 L10.7294,17.3744 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item.active .history-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23FFFFFF'%3E%3Cpath d='M17.5458,0 L17.6305,0 C18.9281,0.0282885 19.9436,1.10325 20,2.40453 L20,4.10184 C20,4.49788 19.6897,4.80905 19.2948,4.80905 L16.615,4.80905 L16.615,15.8982 L16.615,15.983 C16.5585,18.1895 14.8096,19.9717 12.6093,20 L12.5247,20 L4.09027,20 L4.00564,20 C1.77715,19.9717 0,18.1612 0,15.9264 L0,15.0778 C0,14.6818 0.310296,14.3706 0.705219,14.3706 L3.38505,14.3706 L3.38505,4.07355 C3.38505,2.99859 3.80818,1.95191 4.56982,1.18812 C5.33145,0.424328 6.34697,0 7.44711,0 L17.5458,0 Z M1.41044,15.9264 C1.41044,17.3975 2.62341,18.5856 4.09027,18.5856 L9.42172,18.5856 C8.80113,17.8784 8.43441,16.9448 8.43441,15.9264 L8.43441,15.785 L1.41044,15.785 L1.41044,15.9264 Z M15.1763,2.40453 L15.1763,2.31966 C15.1763,2.00849 15.2609,1.69731 15.402,1.41443 L7.44711,1.41443 C6.71368,1.41443 6.06488,1.69731 5.58533,2.17822 C5.07757,2.68741 4.79549,3.36634 4.79549,4.07355 L4.79549,14.3706 L9.11142,14.3706 C9.50635,14.3706 9.81664,14.6818 9.81664,15.0778 L9.81664,15.9264 C9.81664,17.3975 11.0296,18.5856 12.4965,18.5856 C13.9915,18.5856 15.1763,17.3975 15.1763,15.9264 L15.1763,2.40453 Z M16.5585,3.39463 L18.5331,3.39463 L18.5331,2.40453 C18.5331,1.86704 18.0818,1.41443 17.5458,1.41443 C17.0099,1.41443 16.5585,1.86704 16.5585,2.40453 L16.5585,3.39463 Z M7.87025,5.20511 L12.0733,5.20511 C12.4683,5.20511 12.7786,4.89394 12.7786,4.4979 C12.7786,4.10186 12.4683,3.79069 12.0733,3.79069 L7.87025,3.79069 C7.47532,3.79069 7.16503,4.10186 7.16503,4.4979 C7.16503,4.89394 7.47532,5.20511 7.87025,5.20511 Z M12.0733,8.59974 L7.87025,8.59974 C7.47532,8.59974 7.16503,8.28856 7.16503,7.89252 C7.16503,7.49648 7.47532,7.18531 7.87025,7.18531 L12.0733,7.18531 C12.4683,7.18531 12.7786,7.49648 12.7786,7.89252 C12.7786,8.28856 12.4683,8.59974 12.0733,8.59974 Z M7.87025,11.9661 L10.8322,11.9661 C11.1989,11.9661 11.5374,11.6549 11.5374,11.2588 C11.5374,10.8628 11.2271,10.5516 10.8322,10.5516 L7.87025,10.5516 C7.47532,10.5516 7.16503,10.8628 7.16503,11.2588 C7.16503,11.6549 7.47532,11.9661 7.87025,11.9661 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item.active .contacts-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23FFFFFF'%3E%3Cpath d='M5.79916,7.34463 C3.79067,7.34463 2.12164,5.70622 2.12164,3.67232 C2.12164,1.63842 3.76238,0 5.79916,0 C7.83593,0 9.47667,1.63842 9.47667,3.67232 C9.47667,5.70622 7.83593,7.34463 5.79916,7.34463 Z M5.79916,1.44068 C4.55446,1.44068 3.53607,2.45763 3.53607,3.70057 C3.53607,4.9435 4.55446,5.96045 5.79916,5.96045 C7.04385,5.96045 8.06224,4.9435 8.06224,3.70057 C8.06224,2.45763 7.04385,1.44068 5.79916,1.44068 Z M15.1061,7.62712 C13.1825,7.62712 11.5134,8.72881 10.7214,10.339 C9.70297,8.70057 7.86422,7.62712 5.79915,7.62712 C2.60255,7.62712 0,10.226 0,13.4181 L0,16.8927 C0,18.6158 1.38614,20 3.11174,20 L8.51485,20 C9.47666,20 10.3536,19.548 10.9194,18.8701 C11.4851,19.5763 12.3621,20 13.3239,20 L16.8883,20 C18.6139,20 20,18.6158 20,16.8927 L20,12.5141 C20,9.83051 17.8218,7.62712 15.1061,7.62712 Z M8.51485,18.5876 L3.11174,18.5876 C2.17822,18.5876 1.41443,17.8249 1.41443,16.8927 L1.41443,13.4181 C1.41443,10.9887 3.39463,9.03955 5.79915,9.03955 C8.23197,9.03955 10.1839,11.017 10.1839,13.4181 L10.1839,16.8927 C10.2122,17.8531 9.44837,18.5876 8.51485,18.5876 Z M18.5856,16.8927 C18.5856,17.8249 17.8218,18.5876 16.8883,18.5876 L13.3239,18.5876 C12.3904,18.5876 11.6266,17.8249 11.6266,16.8927 L11.6266,12.5141 C11.6266,10.5932 13.1825,9.03955 15.1061,9.03955 C17.0297,9.03955 18.5856,10.5932 18.5856,12.5141 L18.5856,16.8927 Z M11.4286,3.67232 C11.4286,5.70622 13.0976,7.34463 15.1061,7.34463 C17.1429,7.34463 18.7836,5.70622 18.7836,3.67232 C18.7836,1.63842 17.1429,0 15.1061,0 C13.0693,0 11.4286,1.63842 11.4286,3.67232 Z M12.843,3.70057 C12.843,2.45763 13.8614,1.44068 15.1061,1.44068 C16.3508,1.44068 17.3692,2.45763 17.3692,3.70057 C17.3692,4.9435 16.3508,5.96045 15.1061,5.96045 C13.8614,5.96045 12.843,4.9435 12.843,3.70057 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav-item.active .atm-cards-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='17px' viewBox='0 0 20 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='iconms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M16.0959,0 L3.93204,0 C1.75386,0 0,1.75386 0,3.90375 L0,12.7013 C0,14.8512 1.75386,16.6051 3.90375,16.6051 L16.0959,16.6051 C18.2458,16.6051 19.9997,14.8512 19.9997,12.7013 L19.9997,3.90375 C20.028,1.75386 18.2741,0 16.0959,0 Z M1.4144,3.90375 C1.4144,2.54593 2.54593,1.4144 3.93204,1.4144 L16.1242,1.4144 C17.5103,1.4144 18.6135,2.54593 18.6135,3.90375 L18.6135,5.4596 L1.4144,5.4596 L1.4144,3.90375 Z M18.6135,12.7013 C18.6135,14.0875 17.482,15.1907 16.1242,15.1907 L3.93204,15.1907 C2.54593,15.1907 1.44269,14.0592 1.44269,12.7013 L1.44269,6.90229 L18.6135,6.90229 L18.6135,12.7013 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.notification-icon {
  width: 23px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.6875 15.3975C0.6875 17.4059 2.2126 19.0126 4.11899 19.0126H20.069C21.9436 19.0126 23.4687 17.4059 23.4687 15.431C23.4687 14.2259 22.8968 13.0879 21.9436 12.4184L21.3082 11.9498C20.8951 11.6485 20.6409 11.1464 20.6409 10.6109V9.00418C20.6409 6.62761 19.7513 4.35146 18.1309 2.64435C16.5105 0.937238 14.3817 0 12.094 0C7.35983 0 3.54707 4.05021 3.5153 8.97071V10.5774C3.5153 11.113 3.26111 11.6151 2.84806 11.9163L2.2126 12.3849C1.25941 13.0544 0.6875 14.1925 0.6875 15.3975ZM5.45345 9.00418C5.45345 5.15481 8.40834 2.00837 12.094 2.00837C13.8733 2.00837 15.5255 2.74477 16.8282 4.01674C18.0673 5.35565 18.7663 7.09623 18.7663 8.97071V10.5774C18.7663 11.7824 19.3383 12.9205 20.2914 13.59L20.9269 14.0586C21.34 14.3598 21.5941 14.8619 21.5941 15.3975C21.5941 16.3013 20.8951 17.0042 20.069 17.0042H4.11899C3.26111 17.0042 2.59388 16.2678 2.59388 15.3975C2.59388 14.8619 2.84806 14.3598 3.29289 14.092L3.92835 13.6234C4.88154 12.954 5.45345 11.8159 5.45345 10.6109V9.00418ZM10.5689 23.6319C11.0455 23.8662 11.5856 24.0001 12.094 24.0001C13.1425 24.0001 14.191 23.498 14.7947 22.5608C15.0806 22.0921 14.9853 21.4562 14.5405 21.1549C14.0957 20.8537 13.492 20.9541 13.206 21.4227C12.8565 21.9917 12.0622 22.1591 11.4267 21.8244C11.2361 21.7239 11.0772 21.5901 10.9819 21.4227C10.6642 20.9541 10.0923 20.8537 9.64745 21.1549C9.20263 21.4896 9.10731 22.0921 9.39327 22.5608C9.67922 22.9959 10.0923 23.3641 10.5689 23.6319Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.6875 15.3975C0.6875 17.4059 2.2126 19.0126 4.11899 19.0126H20.069C21.9436 19.0126 23.4687 17.4059 23.4687 15.431C23.4687 14.2259 22.8968 13.0879 21.9436 12.4184L21.3082 11.9498C20.8951 11.6485 20.6409 11.1464 20.6409 10.6109V9.00418C20.6409 6.62761 19.7513 4.35146 18.1309 2.64435C16.5105 0.937238 14.3817 0 12.094 0C7.35983 0 3.54707 4.05021 3.5153 8.97071V10.5774C3.5153 11.113 3.26111 11.6151 2.84806 11.9163L2.2126 12.3849C1.25941 13.0544 0.6875 14.1925 0.6875 15.3975ZM5.45345 9.00418C5.45345 5.15481 8.40834 2.00837 12.094 2.00837C13.8733 2.00837 15.5255 2.74477 16.8282 4.01674C18.0673 5.35565 18.7663 7.09623 18.7663 8.97071V10.5774C18.7663 11.7824 19.3383 12.9205 20.2914 13.59L20.9269 14.0586C21.34 14.3598 21.5941 14.8619 21.5941 15.3975C21.5941 16.3013 20.8951 17.0042 20.069 17.0042H4.11899C3.26111 17.0042 2.59388 16.2678 2.59388 15.3975C2.59388 14.8619 2.84806 14.3598 3.29289 14.092L3.92835 13.6234C4.88154 12.954 5.45345 11.8159 5.45345 10.6109V9.00418ZM10.5689 23.6319C11.0455 23.8662 11.5856 24.0001 12.094 24.0001C13.1425 24.0001 14.191 23.498 14.7947 22.5608C15.0806 22.0921 14.9853 21.4562 14.5405 21.1549C14.0957 20.8537 13.492 20.9541 13.206 21.4227C12.8565 21.9917 12.0622 22.1591 11.4267 21.8244C11.2361 21.7239 11.0772 21.5901 10.9819 21.4227C10.6642 20.9541 10.0923 20.8537 9.64745 21.1549C9.20263 21.4896 9.10731 22.0921 9.39327 22.5608C9.67922 22.9959 10.0923 23.3641 10.5689 23.6319Z' fill='%234D4877'/%3E%3Cpath d='M21.9436 12.4184L21.3501 13.2232L21.3594 13.2301L21.3689 13.2367L21.9436 12.4184ZM21.3082 11.9498L21.9017 11.145L21.8974 11.1419L21.3082 11.9498ZM18.1309 2.64435L17.4056 3.3328V3.3328L18.1309 2.64435ZM3.5153 8.97071L2.5153 8.96425V8.97071H3.5153ZM2.84806 11.9163L2.25879 11.1084L2.25455 11.1115L2.84806 11.9163ZM2.2126 12.3849L2.78735 13.2033L2.79681 13.1966L2.80612 13.1898L2.2126 12.3849ZM16.8282 4.01674L17.5621 3.3375L17.5449 3.31892L17.5268 3.30124L16.8282 4.01674ZM20.2914 13.59L20.885 12.7851L20.8757 12.7783L20.8662 12.7716L20.2914 13.59ZM20.9269 14.0586L20.3334 14.8634L20.3376 14.8665L20.9269 14.0586ZM3.29289 14.092L3.80864 14.9488L3.84874 14.9246L3.8864 14.8969L3.29289 14.092ZM3.92835 13.6234L3.3536 12.8051L3.34414 12.8117L3.33483 12.8186L3.92835 13.6234ZM10.5689 23.6319L10.079 24.5037L10.103 24.5172L10.1277 24.5293L10.5689 23.6319ZM14.7947 22.5608L15.6354 23.1023L15.642 23.092L15.6483 23.0817L14.7947 22.5608ZM14.5405 21.1549L13.9797 21.9829L13.9797 21.9829L14.5405 21.1549ZM13.206 21.4227L14.0581 21.9461L14.0597 21.9436L13.206 21.4227ZM11.4267 21.8244L11.8928 20.9396H11.8928L11.4267 21.8244ZM10.9819 21.4227L11.8509 20.9278L11.8315 20.8938L11.8096 20.8615L10.9819 21.4227ZM9.64745 21.1549L9.0867 20.3269L9.06608 20.3409L9.04617 20.3559L9.64745 21.1549ZM9.39327 22.5608L8.53965 23.0817L8.54837 23.096L8.55756 23.1099L9.39327 22.5608ZM4.11899 18.0126C2.81336 18.0126 1.6875 16.9033 1.6875 15.3975H-0.3125C-0.3125 17.9084 1.61185 20.0126 4.11899 20.0126V18.0126ZM20.069 18.0126H4.11899V20.0126H20.069V18.0126ZM22.4687 15.431C22.4687 16.9033 21.3429 18.0126 20.069 18.0126V20.0126C22.5444 20.0126 24.4687 17.9084 24.4687 15.431H22.4687ZM21.3689 13.2367C22.0416 13.7092 22.4687 14.5343 22.4687 15.431H24.4687C24.4687 13.9175 23.7521 12.4665 22.5184 11.6001L21.3689 13.2367ZM20.7147 12.7546L21.3501 13.2232L22.5372 11.6136L21.9017 11.145L20.7147 12.7546ZM19.6409 10.6109C19.6409 11.4565 20.0402 12.2627 20.7189 12.7577L21.8974 11.1419C21.75 11.0343 21.6409 10.8364 21.6409 10.6109H19.6409ZM19.6409 9.00418V10.6109H21.6409V9.00418H19.6409ZM17.4056 3.3328C18.8451 4.84929 19.6409 6.87712 19.6409 9.00418H21.6409C21.6409 6.37811 20.6575 3.85363 18.8562 1.9559L17.4056 3.3328ZM12.094 1C14.0964 1 15.9663 1.81651 17.4056 3.3328L18.8562 1.9559C17.0546 0.0579711 14.6669 -1 12.094 -1V1ZM4.51528 8.97717C4.54384 4.55307 7.96146 1 12.094 1V-1C6.7582 -1 2.5503 3.54735 2.51532 8.96425L4.51528 8.97717ZM4.5153 10.5774V8.97071H2.5153V10.5774H4.5153ZM3.43733 12.7243C4.11602 12.2293 4.5153 11.423 4.5153 10.5774H2.5153C2.5153 10.803 2.4062 11.0009 2.2588 11.1084L3.43733 12.7243ZM2.80612 13.1898L3.44158 12.7211L2.25455 11.1115L1.61909 11.5801L2.80612 13.1898ZM1.6875 15.3975C1.6875 14.5009 2.11464 13.6757 2.78735 13.2033L1.63786 11.5666C0.404189 12.4331 -0.3125 13.8841 -0.3125 15.3975H1.6875ZM12.094 1.00837C7.80456 1.00837 4.45345 4.65547 4.45345 9.00418H6.45345C6.45345 5.65415 9.01212 3.00837 12.094 3.00837V1.00837ZM17.5268 3.30124C16.0575 1.86663 14.1614 1.00837 12.094 1.00837V3.00837C13.5852 3.00837 14.9935 3.62291 16.1296 4.73223L17.5268 3.30124ZM19.7663 8.97071C19.7663 6.84168 18.9705 4.85924 17.5621 3.3375L16.0943 4.69597C17.1642 5.85205 17.7663 7.35078 17.7663 8.97071H19.7663ZM19.7663 10.5774V8.97071H17.7663V10.5774H19.7663ZM20.8662 12.7716C20.1935 12.2992 19.7663 11.474 19.7663 10.5774H17.7663C17.7663 12.0908 18.483 13.5418 19.7167 14.4083L20.8662 12.7716ZM21.5204 13.2538L20.885 12.7851L19.6979 14.3948L20.3334 14.8634L21.5204 13.2538ZM22.5941 15.3975C22.5941 14.5519 22.1949 13.7456 21.5162 13.2506L20.3376 14.8665C20.485 14.974 20.5941 15.1719 20.5941 15.3975H22.5941ZM20.069 18.0042C21.4826 18.0042 22.5941 16.8176 22.5941 15.3975H20.5941C20.5941 15.7849 20.3076 16.0042 20.069 16.0042V18.0042ZM4.11899 18.0042H20.069V16.0042H4.11899V18.0042ZM1.59388 15.3975C1.59388 16.7564 2.64723 18.0042 4.11899 18.0042V16.0042C3.875 16.0042 3.59388 15.7792 3.59388 15.3975H1.59388ZM2.77713 13.2353C1.99453 13.7064 1.59388 14.557 1.59388 15.3975H3.59388C3.59388 15.1668 3.7016 15.0132 3.80864 14.9488L2.77713 13.2353ZM3.33483 12.8186L2.69937 13.2872L3.8864 14.8969L4.52186 14.4283L3.33483 12.8186ZM4.45345 10.6109C4.45345 11.5075 4.02631 12.3326 3.3536 12.8051L4.50309 14.4418C5.73676 13.5753 6.45345 12.1243 6.45345 10.6109H4.45345ZM4.45345 9.00418V10.6109H6.45345V9.00418H4.45345ZM12.094 23.0001C11.752 23.0001 11.362 22.9075 11.0101 22.7345L10.1277 24.5293C10.729 24.8249 11.4192 25.0001 12.094 25.0001V23.0001ZM13.954 22.0193C13.5517 22.6438 12.8358 23.0001 12.094 23.0001V25.0001C13.4492 25.0001 14.8303 24.3522 15.6354 23.1023L13.954 22.0193ZM13.9797 21.9829C13.9677 21.9747 13.9595 21.9649 13.9556 21.9585C13.9523 21.9532 13.9543 21.9542 13.956 21.9638C13.9576 21.9734 13.958 21.987 13.9552 22.0021C13.9524 22.0169 13.9473 22.0297 13.9411 22.0399L15.6483 23.0817C16.1689 22.2285 16.0541 20.9722 15.1012 20.3269L13.9797 21.9829ZM14.0597 21.9436C14.0569 21.9481 14.049 21.9582 14.0352 21.9675C14.0223 21.9763 14.0098 21.9807 14.0003 21.9825C13.9819 21.986 13.9755 21.98 13.9797 21.9829L15.1012 20.3269C14.2259 19.7341 12.9616 19.9034 12.3524 20.9018L14.0597 21.9436ZM10.9607 22.7091C11.9792 23.2456 13.3865 23.0396 14.0581 21.9461L12.3539 20.8993C12.3382 20.9248 12.2986 20.9659 12.2077 20.986C12.1149 21.0065 11.9993 20.9957 11.8928 20.9396L10.9607 22.7091ZM10.113 21.9176C10.3302 22.299 10.6584 22.5499 10.9607 22.7091L11.8928 20.9396C11.857 20.9208 11.8385 20.9062 11.8322 20.9006C11.8264 20.8954 11.8369 20.9032 11.8509 20.9278L10.113 21.9176ZM10.2082 21.9829C10.215 21.9783 10.2145 21.9803 10.2059 21.9821C10.1975 21.9839 10.1858 21.9845 10.1727 21.9819C10.1595 21.9794 10.1499 21.9746 10.1448 21.9712C10.1396 21.9677 10.1442 21.9691 10.1542 21.9839L11.8096 20.8615C11.1831 19.9374 9.99012 19.7151 9.0867 20.3269L10.2082 21.9829ZM10.2469 22.0399C10.2299 22.012 10.2296 21.9902 10.2315 21.9791C10.2325 21.9734 10.2342 21.9697 10.2357 21.9672C10.2369 21.9652 10.24 21.9605 10.2487 21.9539L9.04617 20.3559C8.16643 21.0179 8.0013 22.1994 8.53965 23.0817L10.2469 22.0399ZM11.0587 22.7601C10.7036 22.5606 10.4165 22.2969 10.229 22.0116L8.55756 23.1099C8.94198 23.6949 9.48091 24.1676 10.079 24.5037L11.0587 22.7601Z' fill='%23908DAA' mask='url(%23path-1-inside-1)'/%3E%3C/svg%3E%0A");
}

/*  general css */
/* Colors: */
:root {
  --white-color: #fff;
  --primary-colour01: #3b2f92;
  --primary-colour02: #ea348b;
  --primary-colour03: #29c9ec;
  --primary-colour01-5: #f5f5fa;
  --primary-colour01-10: #ebeaf4;
  --primary-colour01-15: #e2e0ef;
  --primary-colour01-25: #cecbe4;
  --primary-colour02-10: #fce1ee;
  --primary-colour03-10: #eafafd;
  --heading-colour-typo01: #211a55;
  --paragraph-colour-typo01: #4d4877;
  --title-normal-colour-typo01: #908daa;
  --warning-state-colour: #fdd769;
  --success-state-colour: #2dc469;
  --error-state-colour: #ff5555;
  --warning-state-colour-15: #fff9e9;
  --success-state-colour-10: #eaf9f0;
  --error-state-colour-10: #ffeeee;
  --padding-70: 70px;
}

/* End of Colors */
body {
  overflow-x: hidden;
}

.display_show {
  display: block;
}

.desktop-hidden {
  display: none;
}

.overflow-xy-hidden {
  overflow: hidden;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mlr-6 {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

.plr-6 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mlr-20 {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

.plr-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.ps-relative {
  position: relative !important;
}

/* Typography */
h1 {
  font-size: 64px;
  line-height: 1;
  color: var(--heading-colour-typo01);
  font-weight: 700;
}

h2 {
  font-size: 48px;
  line-height: 1;
  color: var(--heading-colour-typo01);
  font-weight: 700;
}

h3 {
  font-size: 36px;
  line-height: 1;
  color: var(--heading-colour-typo01);
  font-weight: 700;
}

h4 {
  font-size: 30px;
  line-height: 1;
  color: var(--heading-colour-typo01);
  font-weight: 700;
}

h5 {
  font-size: 24px;
  line-height: 30px;
  color: var(--heading-colour-typo01);
  font-weight: 700;
}

h6 {
  font-size: 18px;
  line-height: 30px;
  color: var(--heading-colour-typo01);
  font-weight: 700;
}

p {
  font-size: 12px;
  line-height: 20px;
  color: var(--paragraph-colour-typo01);
  font-weight: 400;
}

.regular-p14 {
  font-size: 14px;
  line-height: 22px;
  color: var(--paragraph-colour-typo01);
  font-weight: 400;
}

.regular-p18 {
  font-size: 18px;
  line-height: 30px;
  color: var(--paragraph-colour-typo01);
  font-weight: 400;
}

/* End of Typography */
/* Button */
.btn.btn-common-primary {
  color: #fff;
  padding: 7px 20px 7px 20px;
  min-height: 54px;
  margin: 0 auto;
  min-width: 240px;
  font-weight: 600;
  border: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  background: transparent linear-gradient(285deg, #f7b733 0%, #fc711a 100%) 0% 0% no-repeat;
  border-radius: 60px;
}

.btn.btn-common-primary:hover, .btn.btn-common-primary:focus, .btn.btn-common-primary:active {
  background: transparent linear-gradient(285deg, #f7b733 0%, #fc711a 100%) 0% 0% no-repeat;
  -webkit-box-shadow: 0 5px 15px 0 rgba(247, 182, 51, 0.3);
          box-shadow: 0 5px 15px 0 rgba(247, 182, 51, 0.3);
}

.btn.btn-common-primary:not(:disabled):not(.disabled).active, .btn.btn-common-primary:not(:disabled):not(.disabled):active {
  background: transparent linear-gradient(285deg, #f7b733 0%, #fc711a 100%) 0% 0% no-repeat;
  -webkit-box-shadow: 0 5px 15px 0 rgba(247, 182, 51, 0.3);
          box-shadow: 0 5px 15px 0 rgba(247, 182, 51, 0.3);
}

.btn.btn-common-primary.btn-common-primary-54 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.btn.btn-common-primary.btn-shadow::before {
  content: "";
  background: transparent linear-gradient(103deg, #fc711a 0%, #f7b733 100%) 0% 0% no-repeat padding-box;
  border-radius: 60px;
  opacity: 0.6;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  position: absolute;
  z-index: 0;
  height: 10px;
  margin: 0 auto;
  bottom: -5px;
  width: 80%;
  border-radius: 60px;
}

/* End of Button */
.form-root {
  padding: 0 0;
  margin: 0;
  position: relative;
  /* checkbox */
  /* End of checkbox */
}

.form-root .form-group-custom {
  margin-bottom: 20px;
  position: relative;
}

.form-root .form-group-custom .label-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 48px;
  padding: 9px 0 8px 0;
}

.form-root .form-group-custom label {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  letter-spacing: 0;
  color: #000;
}

.form-root .form-group-custom .input-control {
  position: relative;
}

.form-root .form-group-custom .form-control {
  font-size: 18px;
  color: #000;
  min-height: 48px;
  padding: 8px 20px 8px 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  line-height: 24px;
  margin: 0 0 5px 0;
  font-weight: 500;
}

.form-root .form-group-custom .form-control::-webkit-input-placeholder {
  color: #98a9bc;
}

.form-root .form-group-custom .form-control::-moz-placeholder {
  color: #98a9bc;
}

.form-root .form-group-custom .form-control:-ms-input-placeholder {
  color: #98a9bc;
}

.form-root .form-group-custom .form-control:-moz-placeholder {
  color: #98a9bc;
}

.form-root .form-group-custom .form-control:hover, .form-root .form-group-custom .form-control:focus, .form-root .form-group-custom .form-control:active {
  border-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-root .form-group-custom input[type="password"].form-control {
  padding-right: 48px;
}

.form-root .form-group-custom .custom-icon {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 38px;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8e98a0;
}

.form-root .form-group-custom .custom-icon .icon-UserName1 {
  font-size: 20px;
}

.form-root .form-group-custom .custom-icon .icon-Password {
  font-size: 20px;
}

.form-root .form-group-custom .icon-group {
  position: absolute;
  top: 1px;
  right: 1px;
}

.form-root .form-group-custom .pass-hide {
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  color: #f98d29;
  cursor: pointer;
  outline: none;
  padding: 0 0 2px 0;
}

.form-root .error-message-box p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ff1a46;
}

.form-root .custom-checkbox {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  color: #778ca2;
  letter-spacing: 0;
  line-height: 24px;
}

.form-root .custom-checkbox .custom-control-label {
  margin-bottom: 0;
  cursor: pointer;
  padding: 0 0 0 30px;
}

.form-root .custom-checkbox .custom-control-label::before {
  background-color: #e8ecef;
  border: 1px solid #e8ecef;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  top: 2px;
}

.form-root .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-size: 10px;
  top: 3px;
  left: 1px;
}

.form-root .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(142, 152, 160, 0.25);
          box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(142, 152, 160, 0.25);
}

.form-root .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4d7cfe;
}

/*  End of general css */
/* main right content area */
.middle-area-dashboard {
  padding: 0 55px 0 205px;
  margin: 0;
  position: relative;
  will-change: padding;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.middle-area-dashboard .main-middle-area {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header-dashboard {
  padding: 0;
  margin: 0 0 0 0;
}

.header-dashboard .navbar {
  padding: 0;
  background: var(--white-color);
  border-bottom: 0 solid #e8ecef;
}

.header-dashboard .navbar .nav-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-dashboard .navbar .col-header {
  width: 100%;
}

.nav-dashboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 50px 0 0 0;
}

.nav-dashboard-left {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-dashboard-left .heading-title-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.nav-dashboard-left .heading-title-div .heading-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-dashboard-left .heading-title-div .heading-title-row .btn-div {
  width: 39px;
}

.nav-dashboard-left .heading-title-div .heading-title-row .title-div {
  width: calc(100% - 39px);
}

.nav-dashboard-left .heading-title-div .heading-title-row .menu-btn {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.nav-dashboard-left .heading-title-div .heading-title-row h5 {
  line-height: 25px;
}

.nav-dashboard-right {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.nav-dashboard-right .dropdown-menu {
  margin-top: 0;
  min-width: 200px;
  max-width: 210px;
  left: auto;
  right: 10px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
  padding: 0;
  padding-right: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  min-height: 70px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
  position: absolute;
  right: 0;
  height: 38px;
  width: 38px;
  border: none;
  content: "\e313";
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  color: var(--white-color);
  background: #002855;
  border-radius: 10px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #d8d8d8;
  font-size: 24px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile {
  padding: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info {
  padding: 0 58px 0 15px;
  text-align: left;
  min-width: auto;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info h3 {
  font-weight: 500;
  margin: 0;
  font-size: 18px;
  color: #00142f;
  letter-spacing: 0;
  line-height: 20px;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img {
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img .no-image-available {
  background: #eff2f6;
  text-align: center;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #a2b8d5;
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img .no-image-available .text {
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  display: inline-block;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img .user-top-image {
  padding: 0;
  margin: 0;
  border-radius: 100px;
  height: 48px;
  width: 48px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-dashboard-right .user-drop-down .dropdown-custom-top.show .btn.dropdown-toggle::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-dashboard-right .nav-dash-right-div .nav-right-list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-dashboard-right .nav-dash-right-div .nav-right-list-ul .list-item {
  margin: 0 24px 0 0;
}

.nav-dashboard-right .nav-dash-right-div .nav-right-list-ul .list-item:last-child {
  margin-right: 0;
}

.nav-dashboard-right .nav-dash-right-div .nav-right-list-ul .list-item .link-btn-rounded {
  border-radius: 15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  min-width: 48px;
  position: relative;
  background-color: var(--primary-colour01-5);
}

.nav-dashboard-right .nav-dash-right-div .nav-right-list-ul .list-item .nt-btn-rounded .icon-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-dashboard-right .nav-dash-right-div .nav-right-list-ul .list-item .nt-btn-rounded .text-span {
  position: absolute;
  top: -12px;
  right: -2px;
  background: var(--primary-colour01);
  font-size: 12px;
  line-height: 1;
  color: var(--white-color);
  min-height: 24px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 24px;
  font-weight: 400;
  padding: 1px 0 0 0;
}

.nav-dashboard-right .nav-dash-right-div .nav-right-list-ul .list-item .profile-btn-rounded .img-profile {
  width: 48px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.dropdown-custom-top .dropdown-menu {
  padding: 10px 0;
  background: var(--white-color);
  -webkit-box-shadow: 0 3px 7px #08325722;
          box-shadow: 0 3px 7px #08325722;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.dropdown-custom-top .dropdown-menu .dropdown-item {
  font-weight: 500;
  padding: 5px 30px;
  font-size: 18px;
  border: none;
  line-height: 30px;
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: none;
          box-shadow: none;
  letter-spacing: 0;
  color: #083257;
}

.dropdown-custom-top .dropdown-menu .dropdown-item:hover, .dropdown-custom-top .dropdown-menu .dropdown-item:focus, .dropdown-custom-top .dropdown-menu .dropdown-item:active {
  color: #071c2e;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-custom-top .dropdown-menu .dropdown-item.active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-custom-top .dropdown-menu .dropdown-item .bg-custom-icon {
  margin: 0 10px 0 0;
}

.dropdown-custom-top .dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-custom-top .dropdown-menu ul li a {
  text-align: left;
  display: block;
}

.dropdown-custom-top .dropdown-menu hr {
  border: 0;
  border-top: 1px solid rgba(203, 203, 203, 0.6);
  padding: 0;
  margin: 10px 30px 5px 30px;
}

/* End of main right content area */
.main-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.main-section .main-div {
  padding: 25px 0;
  margin: 0;
  min-height: calc(100vh - 100px);
}

@media (min-width: 1025px) {
  /* main right content area */
  .middle-area-dashboard .main-middle-area.active-progress-area {
    width: calc(100% - 310px);
  }
}

@media (min-width: 1025px) and (max-width: 1490px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed {
    overflow: hidden;
  }
  .mobile-hidden {
    display: none;
  }
  /**  main area  */
  .middle-area-dashboard {
    padding: var(--padding-70) 0 0 0;
    margin: 0;
  }
  .middle-area-dashboard .main-middle-area {
    padding: 0;
    margin: 0;
    min-height: calc(100vh - var(--padding-70));
    width: 100%;
  }
  .header-dashboard {
    margin: 0 0 10px 0;
  }
  .header-dashboard .navbar .col-header {
    width: calc(100% + 30px);
  }
  .header-dashboard .nav-dashboard-right {
    max-width: 100%;
    width: 100%;
  }
  .nav-dashboard-left {
    max-width: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav-dashboard-left .heading-div {
    padding: 15px 0 15px 0;
  }
  .nav-dashboard-left .heading-div h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .nav-dashboard-left .heading-div h1 b {
    font-size: 20px;
    line-height: 30px;
  }
  /* End of get started */
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed {
    overflow: hidden;
  }
  .mobile-hidden {
    display: none;
  }
  /**  main area  */
  .middle-area-dashboard {
    padding: var(--padding-70) 0 0 0;
    margin: 0;
  }
  .middle-area-dashboard .main-middle-area {
    padding: 0;
    margin: 0;
    min-height: auto;
    width: 100%;
  }
  .main-section .main-div {
    min-height: calc(100vh - 130px - 76px);
  }
  .nav-dashboard-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-dashboard-left {
    max-width: 100%;
  }
  .nav-dashboard-left .heading-div {
    padding: 15px 0 15px 0;
  }
  .nav-dashboard-left .heading-div h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .nav-dashboard-left .heading-div h1 b {
    font-size: 20px;
    line-height: 30px;
  }
  .nav-dashboard-right {
    width: auto;
  }
  .heading-main-section {
    padding: 20px 0 0 0;
    margin: 0;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */